.wraper {
    position: fixed;
    top: 0;    
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  .imageWraper {
    position: relative;
    width: 100%;
  }

  .imageHeader {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);  
    color: white;
    font-size: 2rem;
  }

  .content {
    background-color: #161616;
    border-radius: 10px;
    width: 50%;
    height: 90%;
    text-align: center;    
    overflow-y:scroll;
  }
  
  .animalImage {
    width: 100%;
    margin-bottom: 20px;
    filter: brightness(50%);
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
  }

  .textWraper {
    text-align: left;
    padding: 10px;
    color: #fff;   
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    width: 100px; 
    background-color: #D84343;
    border-radius: 10px;
  }

  @media only screen and (max-width: 1224px) {
    .content {
      width: 70%;
      height: 100%;
    }
  }

  @media only screen and (max-width: 600px) {
    .content {
      width: 90%;
      overflow-y:scroll;
    }

    .closeButton {
      width: 40px;
    }
  }
  