.sidebar {
  margin: 30px;
  padding: 20px;
  width: 200px;
   background-color: #1A5259;
   color: #fff;
   height: 30vh;
   border-radius: 10px;
  }  

.sidenames {
  list-style-type: none; 
  padding: 0;
  font-size: larger;
}

.linkname {
  margin: 10px;
  border-bottom: 1px solid white;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    margin: 0;
    height: auto;
  }
}